#slider-0 H2 {
  font-size: 30px;
  text-align: center;
  color: #fed5c5;
}
#ext_menu-1 .navbar-toggler {
  color: #000;
}
#ext_menu-b .navbar-toggler {
  color: #000;
}
#ext_menu-9 .navbar-toggler {
  color: #000;
}
#ext_menu-3 .navbar-toggler {
  color: #000;
}
#slider2-5 H2 {
  text-align: right;
  color: #dddddd;
}
#ext_menu-m .navbar-toggler {
  color: #000;
}
#header1-o H1 {
  color: #fbfbfb;
}
